.dark{
  background-color: black;
  color: white;
  height: 100vh;
}
*{
margin: 0;
padding: 0;
}
.light-theme {
  background-color: white;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* Dark theme */
.dark-theme {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  height: 100vh;
  padding: 15px;
}

