body {
  margin: 0;
  font-size: 55px;
}

code {

    font-size: 55px;
}
.inputstyle{
  font-size: 55px;
}
.btnstyle{
  font-size: 50px;
    background-color: #28a745;  
    color: white;
    border: none;
    padding: 10px 15px;

    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;

}
.btnstyleRemove{
  font-size: 45px;

}
.btnstyle:hover {
  background-color: #218838;  
} 
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f8f9fa;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

